li {
    font-family: monospace, serif;
    color: #556b2f;
    font-weight: 800;
}

h1 {
    font-weight: 800;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: aquamarine;
}

ol li {
    color: blue;
}